<br>
<div style="margin-right:1vw;">
  <logout></logout>
</div>
<br>

<div class="container">
<br>
  <h4>Free Days Remaining: {{freeDaysRemaining}}</h4>
  <br><br>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <br>
    <input type="date" name="startDate" id="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <br>
    <input type="date" name="endDate" id="endDate">
  </div>
  <div class="form-group" style="width:20%;">
      <label for="leaveRequestType">Leave Request Type</label>
      <select class="form-control" id="leaveRequestType">
          <option value="Vacation">Vacation</option>
          <option value="Maternity/Paternity Leave">Maternity/Paternity Leave</option>
          <option value="Study Leave">Study Leave</option>
          <option value="Special Leave">Special Leave</option>
          <option value="Sick Leave">Sick Leave</option>
      </select>
  </div>
  <button pButton type="button" class="ui-button-success" icon="fa fa-check"  label="Submit" (click)="submitRequest()"></button>
</div>

<br>
<p-messages [(value)]="msgs"></p-messages>

<br>
<div class="container">
    <p-table [value]="currentUserRequests">
      <ng-template pTemplate="caption">
          My Requests
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Leave Request Type</th>
              <th>Status</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
          <tr>
              <td>{{request.startDate}}</td>
              <td>{{request.endDate}}</td>
              <td>{{request.vacationRequestType}}</td>
              <td>{{request.vacationRequestStatus}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>

